body{
background-color:#bbb;
color:#222;
}

h1{
background-color:#fff;
color:#222;
text-align: center;
}

h2{
background-color:#fff;
color: #222;
}

table{
background-color:#bbb;
color: black;
}

th{
background-color:#aaa;
}

legend{
 background-color:#aaa;
 color: black;
 border: 2pt solid white;
 margin: 1ex;
}

.login{
width: auto;
height: auto;
display: inline-block;
margin:0 auto;
margin-left: auto;
margin-right: auto;
padding:10pt;
border:2px solid black;
border-radius:10px;
box-shadow: 10px 10px 5px #888888;
background-color: #ddd;
}

.centrado{
text-align:center;
}

.centerblock{
  margin-left: auto;
  margin-right: auto;
}

.derecha{
				position: relative;
				width: 60%;
float: right;
border: 1px solid black;
margin:1ex;
padding:1ex;
background-color:#bfb;
}

.bloque{
position: relative;
width: 35%;
float: left;
border: 1px solid black;
margin:1ex;
padding:1ex;
background-color:#bbb;
}

/*menu2011*/

.menu2011
{
/* width:1000px;*/
 background-color:#bbb;
	/*
 border-style:solid;
 border-width:2px;
  border-color:#eee;
	border-top:solid #555;
	border-right:solid #777;
padding:5px;
padding-bottom:7px;
*/
border-width:1px;
border-bottom:solid #222;
font-weight: bold;
padding-bottom:0px;
}


ul.menu2011
{
	list-style:none;
	margin-bottom:10px;
	line-height: 200%;
}

ul.menu2011 li
{
/* position:relative;*/
	background-color:#bbb;
	padding:11px;
	padding-left:5px;
	padding-right:5px;
/*	float: left;*/
 width: 100px;
 height: 30px;
 font-size:100%;
 
	border-top:solid #222 2px;
 border-left: solid #222 2px;
 border-bottom:solid #222 0px;
 border-right: solid #222 2px; 

 }

ul.menu2011 li:hover
{
 background-color:#6F6;
}

ul.menu2011 li A
{
text-decoration: none;
color:black;
}


ul.menu2011 > li
{
				display:inline;
}

ul.menu2011 > li > ul
{
 position:absolute;
 left:-41px;
 top:36px;
 display:none;
 list-style:none;
}

/*ul.menu2011 ul
{
				position:absolute;
				left:80px;
				top:-1px;
				display:none;
				list-style:none;
}
*/

ul.menu2011 li:hover > ul
{
 display:block;
}

ul.menu2011 li.verde
{
  background-color:#fff;
}

table
{
 border: 1px solid black;
}

th
{
 border: 0px solid black;
 }

td
{
 border: 0px solid black;
}
